@reference 'tailwindcss';

.place-order{
    @apply flex items-start justify-between gap-12 mt-24;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order-left .title{
    @apply text-3xl font-semibold mb-11;
}
.place-order-left input{
    @apply mb-4 w-full p-2.5 border border-slate-400 outline-orange-400;
}
.place-order-left .multi-fields{
    @apply flex gap-2.5;
}
.place-order-right{
    width: 100%;
    max-width: max(40%, 500px);
}
.place-order .cart-total button{
    @apply mt-7;
}
.cart-total h2{
    @apply text-3xl font-semibold;
}