@reference "tailwindcss";

/* main */
.navbar{
    @apply flex flex-row justify-between pt-6 items-center text-slate-700;
}

/* middle */
.nav-menu{
    @apply flex flex-row gap-10;
}
.active{
    @apply border-b-2 border-slate-600;
}
li{
    @apply cursor-pointer;
}

/* end */
.nav-list{
    @apply flex flex-row gap-10 items-center;
}
.icon-search{
    @apply w-6 h-auto object-contain cursor-pointer;
}
.icon-basket{
    @apply w-6 h-auto object-contain cursor-pointer;
}
.notif{
    @apply absolute bg-red-500 rounded-full w-2 h-2 -top-1 -right-1;
}
button{
    @apply border border-slate-600 px-6 py-1 rounded-full cursor-pointer;
}

@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
    .nav-menu{
        gap: 20px;
        font-size: 17px;
    }
    .nav-list{
        gap: 30px;
    }
    .nav-list img{
        width: 22px;
    }
    .nav-list button{
        padding: 8px 25px;
    }
}

@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .nav-menu{
        gap: 15px;
        font-size: 16px;
    }
    .nav-list{
        gap: 20px;
    }
    .nav-list img{
        width: 20px;
    }
    .nav-list button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px){
    .nav-menu{
        display:none;
    }
}