@reference 'tailwindcss';

.login-popup{
    @apply absolute z-10 w-full h-full bg-[#00000090] grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-popup-title{
    @apply flex justify-between items-center;
}
.login-popup-title img{
    @apply w-4 h-4 cursor-pointer;
}
.login-popup-title h2{
    @apply text-xl font-medium text-black;
}
.login-popup-inputs{
    @apply flex flex-col gap-5;
}
.login-popup-inputs input{
    @apply border border-slate-400 p-2.5 rounded-xs;
}
.login-popup-container button{
    @apply border-0 p-2.5 rounded-xs text-white bg-orange-600 text-lg cursor-pointer;
}
.login-popup-condition{
    @apply flex items-start gap-2 -mt-4;
}
.login-popup-condition input{
    @apply mt-1.5;
}
.login-popup p span{
    @apply text-orange-600 font-medium cursor-pointer;
}
