@reference 'tailwindcss';

.explore-container{
    @apply flex flex-col space-y-5;
}
.explore-container h1{
    @apply text-3xl font-medium;
}
.explore-container p{
    @apply w-3/4;
}
.explore-menu{
    @apply flex flex-row gap-10 overflow-x-scroll justify-between items-center text-center;
}
.explore-menu::-webkit-scrollbar{
    display: none;
}
.explore-list{
    @apply flex flex-col justify-center items-center cursor-pointer;
}
.explore-list p{
    @apply mt-2 text-slate-600 text-center;
}
.explore-container hr{
    @apply my-2.5 h-0.5 text-slate-400;
}
.explore-list .active{
    @apply border-3 rounded-full border-orange-600 p-0.5;
}

@media (max-width:1050px){
    .explore-container p{
        @apply w-full text-sm;
    }
}